<!DOCTYPE html>
<html>
<head>
    <link rel='icon' href='./images/weather.png'>
    <title>{{title}}</title>
    <link rel='stylesheet' href="./css/style.css">
</head>
<body>
    <div class='main-content'>
        {{>header}}
        <form id='form'>
            <input placeholder='location' id='input' type='text'>
            <button id='button'>Submit</button>
        </form>
        <div id='result'></div>
    </div>
        {{>footer}}
    <script src='./js/csjs.js'></script>
</body>
</html>